<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet"
	/>

	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-CHS77PS4KW"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-CHS77PS4KW");
		</script>
		<!-- -------------------- -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Styles -->
		<link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
		<!-- Eric Meyer's Reset -->
		<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
		<!-- ------ -->
		<title>UBC Schedule Converter</title>
	</head>

	<body class="roboto-regular">
		<header>
			<img
				class="header-logo"
				src="{% static 'images/logo-2.svg' %}"
				alt="UBC Schedule Converter Logo"
			/>
		</header>

		<main>
			<section class="roboto-light download-schedule-section">
				<p class="generation-message">
					Calendar Successfully Generated
				</p>
				<hr />
				<div class="roboto-regular download-box">
					<a href="{{ download_url }} " class="download-button-box"
						><button class="download-file-button roboto-regular">
							Download
						</button></a
					>

					<div class="download-additional-info">
						<div class="roboto-light file-info">
							<p>
								<strong class="roboto-bold">File Name: </strong>
							</p>
							<p>
								<strong class="roboto-bold">File Type: </strong>
							</p>
							<p>
								<strong class="roboto-bold">File Size: </strong>
							</p>
							<p>
								<strong class="roboto-bold"
									>Next Steps:
								</strong>
							</p>
						</div>

						<div class="next-steps">
							<div class="next-step-box">
								<img
									src="{% static 'images/google-calendar.svg' %}"
									alt=""
								/>
								<p>Upload to Google Calendar</p>
							</div>
							<div class="next-step-box">
								<img
									src="{% static 'images/apple-calendar.svg' %}"
									alt=""
								/>
								<p>Upload to Apple Calendar</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer>
			<section class="footer-content">
				<p class="roboto-light disclaimer">
					This tool is not affiliated with The University of British
					Columbia.
				</p>
			</section>
		</footer>

		<script src="{% static 'scripts/drag-and-drop.js' %}"></script>
	</body>
</html>
