body {
  background-color: #f1f5f9;
}

main {
  padding: 0px 156px;
}

header {
  background-color: #f8fafc;
  flex-direction: column;
  align-items: end;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.header-logo {
  width: 33%;
  height: auto;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 361px;
  margin-top: 230px;
  text-align: center;
}

.convert-schedule-header {
  font-size: 2.5rem;
}

.call-to-action {
  font-size: 1rem;
  padding: 0px 3.44rem;
  margin-top: 1.25rem;
}

.find-schedule-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  width: 9.9375rem;
  height: 1.875rem;
  border-radius: 0.625rem;
  background: #075985;
  color: #f8fafc;
  margin-top: 1.88rem;
}

.instruction-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.12rem;
  margin-top: 3.5rem;
}

.instruction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.63rem;
  font-size: 1rem;
}

.instruction-gif {
  width: 15rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.instruction-arrow {
  width: 46px;
}

.file-upload-form {
  position: relative;
  padding-top: 110px;
  padding-bottom: 80px;
  padding-left: 384px;
  padding-right: 384px;
  background-color: #cbd5e1;
  border: 1px dashed #082f49;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.file-upload-form.over {
  background-color: #075985;
}

.upload-button.over {
  background-color: #075985;
}

.upload-button {
  padding: 22px 103px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #082f49;
  cursor: pointer;
  border-radius: 1.25rem;
  border: 1px dashed var(--Dark, #082f49);
  background: var(--Medium, #cbd5e1);
}

.upload-button:hover {
  background-color: #082f49;
  color: #f8fafc;
}

.file-name {
  margin-top: 20px;
  font-weight: 600;
}

.file-input-div {
  margin-top: 30px;
}

#file-input {
  display: none;
}

.disclaimer {
  margin-top: 20px;
  font-size: 10px;
}

.or-browse-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.browse-files-button {
  width: 17.4375rem;
  height: 3.75rem;
  border-radius: 2.4375rem;
  background: #075985;
  color: #f8fafc;
}

.download-schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-file-button {
  padding: 25.5px 109.5px;
  background-color: #075985;
  color: #f8fafc;
  border: 0px;
  border-radius: 15px;
}

footer {
  margin-top: 100px;
  padding-top: 280px;
  text-align: end;
  background-color: #075985;
  color: #f8fafc;
}

.footer-content {
  padding: 0px 156px;
  padding-bottom: 20px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */