$light: #F8FAFC;
$accent: #075985;
$dark: #082F49;
$background: #F1F5F9;
$medium: #CBD5E1;

* {
    margin: 0;
    padding: 0;
}


header {
    background-color: $light;
    flex-direction: column;
    align-items: end;
    box-shadow: 0px 2px 5px 0px rgba(#000000, 0.25);

}

body {
    background-color: $background;
}

main {
    padding: 0px 156px;
}

.intro {
    padding-top: 111px;
    padding-bottom: 101px;

    text-align: center;
}

.file-uploader {
    padding-top: 110px;
    padding-bottom: 80px;
    padding-left: 384px;
    padding-right: 384px;

    background-color: $medium;
    border: 1px dashed $dark;
    border-radius: 20px;

    align-items: center;
    justify-content: center;

    text-align: center;


    margin-bottom: 186px;
}

.intro {
    margin-left: 360px;
    margin-right: 360px;
}

.convert-schedule {
    font-size: 40px;
}

.home-call {
    font-size: 16px;
    padding: 0px 55px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.find-schedule {
    font-size: 12px;
}

.download-file-button {
    padding: 25.5px 109.5px;
    background-color: $accent;
    color: $light;
    border: 0px;

    border-radius: 15px;
}

.file-picker {
    size: 10px;
}

.disclaimer {
    margin-top: 20px;
    font-size: 10px;
}

.upload-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .upload-button {
//     margin: 0px 50px;
// }

.download-link {
    display: flex;
    flex-direction: column;
}

footer {
    padding-top: 280px;
    text-align: end;
    background-color: $accent;
    color: $light;
}

.footer-content {
    padding: 0px 156px;
    padding-bottom: 20px;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}